
###> symfony/framework-bundle ###
/.idea/
/.env.local
/.env.local.php
/.env.*.local
/.env
/screenshot.jpg
/screenshot2.jpg
/screenshot3.jpg
/screenshot4.jpg
/screenshot5.jpg
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/images/gallery
/docker-compose.yml
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/images/gallery
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
