{% block stylesheets %}
        {{ encore_entry_link_tags('uploadModal_css') }}
{% endblock %}
{% block body %}
        <img class="close" src="{{ asset('images/fermer.png') }}">
        <div class="container-progress">
                <div class="titlebar">
                        <p class="loadingSentences">Traitement et upload des images... Merci de patienter</p>
                        <div class="progress-bar-container">
                                <div class="progress-bar"></div>
                        </div>
                </div>
        </div>
        {{ form_start(form) }}
        {{ form_end(form) }}
{% endblock %}