body {
  margin: 0;
  color: white;
  font-family: "Homenaje", sans-serif;
}

.jg-entry {
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-out;
  &:hover {
   opacity: 0.8;
  }
}

.title {
  color: #27936b;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 102%;
  height: 102%;
}