body {
    margin: 0;
    background: black;
    color: white;
    font-family: "Homenaje", sans-serif;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 120px 50px 50px 50px;
}

.arrow-left {
    z-index: 2;
    filter: none;
    width: 50px;
    position: absolute;
    top: 10%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.logout {
    z-index: 2;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    font-family: "Homenaje", sans-serif;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.album {
    display: flex;
    flex-direction: column;
}

p, h3 {
    text-align: center;
}

.container-photo {
    overflow: hidden;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    &:hover{
        img:nth-child(2){
            transform: translateX(300px);
            transition: ease-in-out 2s;
        }
        img:nth-child(3){
            transform: translateX(300px);
            transition: ease-in-out 1s;
        }

    }
}

img {
    height: 300px;
    position: absolute;
    cursor:pointer;
    transition:ease 1s;
    box-shadow: -4px -4px 30px #000000;
    border-radius: 5px;
}

.upload {
    z-index: 3;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    font-family: "Homenaje", sans-serif;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
}
