{% block stylesheets %}
    {{ encore_entry_link_tags('modal_css') }}
{% endblock %}

{% block body %}
    <a class="delete-link" href="{{ path('deletePhoto', { 'photoId': photo.id }) }}"><img class="delete" src="{{ asset('images/poubelle.png') }}"></a>
    <img id="photo" src="{{ asset(photo.filePath) }}">
{% endblock %}

{% block javascripts %}
{% endblock %}

